<br>
<br>
<div class="borderOne">
    <div class="gradientHead">Password Reset Request</div><br><br><br><br><br>
    <fieldset class="fieldsetText" style="margin-bottom:10px;"><legend>To reset your password, please provide the email address you entered when you created your account.</legend><br><br>
        <div class="formLabels" ng-show="status!=='true'">Email Address:</div><div style="float:left;"><input data-ng-model="email" type="text" placeholder="Email Address" ng-show="status!=='true'"></div><br><div style="clear:both;"></div>
    </fieldset>
    <button class="btn btn-primary" type="button" data-ng-click="forgotPassword(email)" ng-show="status!=='true'"><div class="formButtons">Submit</div></button>
    <br>
    <br>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <div><button class="btn btn-primary" type="button" data-ng-click="createAccount()" ng-show="status ==='false'"><div class="formButtons">Create Account</div></button></div>
</div>