<br>
        <br>
<div class="borderOne">
    <div class="gradientHead">Tip Library</div><br>
    <fieldset class="fieldsetText" style="margin-bottom:10px;"><legend>Tip Information</legend>
<div class="formLabels">Add a tip category:</div><div style="float:left;"><input data-ng-model="tip.category" type="text" placeholder="Tip Category"></div><br><div style="clear:both;"></div>


<div class="formLabels">Add a tip sub category:</div><div style="float:left;"><input data-ng-model="tip.subCategory" type="text" placeholder="Tip SubCategory"></div><br><div style="clear:both;"></div>

<div class="formLabels">Add a tip:</div><div style="float:left;"><input data-ng-model="tip.tipDescription" type="text" placeholder="Tip Description"></div><br><div style="clear:both;"></div>
    </fieldset>
</div>
