<div style="max-height: 550px;width:100%;overflow:hidden;">
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;height:550px;width:100%;">

            <div class="carousel-caption">
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>
</div>

<br>
<br>
<div class="container">
    <div id="elementStyle2" class="panelSml">
        <div class="panelLabels1">Tournament Services Featuring</div>

        <img src="web/img/leadbetterLogo.png" style="width:100%;margin:0 auto;"><br>
    </div>

    <div class="panelSml">
        <div class="panelLabels2">My Personal</div>
        <img src="web/img/logo.png"><br>

        <div class="panelLabels2">Page</div>
    </div>

    <div class="panelLrg" style="overflow: hidden;">
        <div class="panelLabels4">Upload a video of your swing and receive feedback from our users FREE!</div>
        <img src="web/img/085.JPG" width="100%;" height=100%; style="position:relative;">
    </div>

    <div id="elementStyle3" class="panelSml" style="overflow:hidden;">
        <div class="panelLabels3">BOOK OUR SERVICES</div>
    </div>

    <div id="elementStyle1" class="panelSml" style="overflow:hidden;">
        <img src="web/img/111.JPG" width="100%" style="top:-50px;position:relative;">

        <div class="panelLabels1">Rate My Swing</div>
    </div>

</div>

<div style="clear:both;"></div>

